@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

* {
  margin: 0;
  padding: 0;
}

html, body {
    background-color: #282a36;
    font-family: 'nunito';
    height: 100%;
}

button {
  border-radius: 20px;
  padding: 20px;
  font-size: max(.7vw, 17px);
  border: 2px solid #44475a;
  background-color: #44475a;
  color: #f8f8f2;
  transition: .4s;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #6272a4;
  border-color: #6272a4;
  color: #f8f8f2;
}

.button {
  margin-top: 4%;
  margin-bottom: 1%;
}

.title {
  color: #f8f8f2;
  font-weight: 800;
  font-size: max(2vw, 22px);
}

.subtitle {
  color: #6272a4;
  font-size: max(1vw, 11px);
}

.html_tag {
  color: #ffb86c;
}

.bold_text {
  font-weight: bold;
  color: #8be9fd;
}

.panel {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
}

.item_panel {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 30px;
}

.flex-left {
  padding: 4%;
}

.flex-right {
  background-image:
  linear-gradient(to top, rgb(47, 49, 74), rgb(47, 49, 74)),
  url('../images/eu.jpg');
  opacity: .6;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find_me {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #6272a4;
}

.find_me svg {
  fill: #6272a4;
  width: 30px;
  height: 30px;
}

.find_me svg:hover {
  fill: #8be9fd;
}

.find_me_icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.curriculo {
  color: #ffb86c;
  text-decoration: none;
  transition: .4s;
}

.curriculo:hover {
  color: #f1fa8c;
}

/* JANELA MODAL */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(40, 42, 54); /* Fallback color */
  background-color: rgba(40, 42, 54, .95); /* Black w/ opacity */
  transition: opacity .4s linear;
  opacity: 0;
  pointer-events: none;
}

/* Modal Content */
.modal-content {
  background-color: #44475a;
  margin: auto;
  padding: 20px;
  border: 1px solid #282a36;
  width: 90%;
  color: #f8f8f2;
}

.blue {
  color: #8be9fd;
}

/* The Close Button */
.close {
  color: #ffb86c;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 4s;
}

.close:hover,
.close:focus {
  color: #f1fa8c;
  text-decoration: none;
  cursor: pointer;
}

/* GRID PROJETOS */

.grid {
	display: grid;
	margin: 1vw 0;
}

.grid-template-columns-1 {
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.item {
	margin: 5px;
	background: #282a36;
	text-align: center;
	font-size: 1.5em;
  padding: 10px;
}

.item-image {
  height: 200px;
  width: 100%;
  background-color: #44475a;
}

.item-title {
  padding: 10px;
}