@charset "utf-8";

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Thin.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Black.ttf');
    font-weight: 800;
}

:root {
    --main-color: #171738 !important;
}

html, body {
    background-color: var(--main-color);
    font-family: 'Roboto Slab' !important;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--main-color);
    color: azure;
}

section {
    color: var(--main-color);
}

.title {
    font-size: 35px;
}

.title2 {
    font-size: 25px;
}

.title3 {
    font-size: 20px;
}

.text-small {
    font-size: 17px;
}

.font-800 {
    font-weight: 800 !important;
}

.card-body {
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
}

i.circle-icon {
    background-color: red;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}